.container{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

label{
    margin-right: 0.8rem;
    font-size: 1.2rem;
}

input{
    padding: 3px;
    font-size: 1.0rem;
    height: 1.2rem;
}